.category {
  margin-top: 30px;
}

.category .header {
  border-bottom: 1.5px solid #b7b7b7;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.category .header h2 {
  color: var(--category-heading-color);
  font-weight: lighter;
  text-transform: uppercase;
}

.category .header div[role=button] {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #555;
  transition: all 0.25s ease;
  transform-origin: center;
  margin-top: 10px;
}

.category .header div[role=button].closed {
  transform: rotate(180deg);
}