*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
button {
  border: none;
}

input[type='checkbox'],
input[type='submit'],
input[type='button'],
*[role='button'],
button {
  cursor: pointer;
}

button {
  user-select: none;
  background: none;
}

svg, svg * {
  pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Montserrat-Regular;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

:root {
  --primary-color: #4864C7;
  --z-index-modal-container: 99999999;
  --category-heading-color: #6C6C6C;
}
